# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Escape Fries.iml
# Datasource local storage ignored files
/../../../../../../../../:\Daliys\Unity\Projects\Escape Fries\.idea\.idea.Escape Fries\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
